---
import AstrolightSiteTitle from '@astrojs/starlight/components/SiteTitle.astro'
import type { Props } from '@astrojs/starlight/props'

const menuItems = [
  { name: 'Docs', href: '/introduction' },
  { name: 'Performance', href: '/performance' },
  { name: 'Playground', href: '/playground' },
]

function pathsMatch(lhs: string, rhs: string): boolean {
  return rhs.includes(lhs)
}
---

<div class="site-title-wrapper">
  <AstrolightSiteTitle {...Astro.props} />

  <div class="separator"></div>

  <nav class="site-title-nav" aria-label="Main navigation">
    {
      menuItems.map((menuItem) => (
        <a
          href={menuItem.href}
          aria-current={
            pathsMatch(encodeURI(menuItem.href), Astro.url.pathname) && "page"
          }
        >
          <span>{menuItem.name}</span>
        </a>
      ))
    }
  </nav>
</div>

<style>
  .separator {
    content: "";
    height: 1.5rem;
    border-inline-end: 1px solid var(--sl-color-gray-4);
  }

  .site-title-wrapper a {
    text-decoration: none;
    color: var(--sl-color-white);
    font-size: var(--sl-text-base);
    font-weight: 500;
  }

  .site-title-wrapper a:hover {
    text-decoration: underline;
    color: var(--sl-color-text-accent);
  }

  [aria-current="page"],
  [aria-current="page"]:hover,
  [aria-current="page"]:focus {
    color: var(--sl-color-text-accent);
  }
</style>
