.Terminal {
    width: 1rem;
    height: 1rem;
}

.Alert {
    position: relative;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 100%;
    font-size: var(--sl-text-base);
    line-height: var(--sl-line-height-headings);
    border: 1px solid var(--sl-color-gray-5);
    background-color: var(--sl-color-black);
}

.Alert > svg {
    position: absolute;
    left: 0.875rem;
    top: 0.875rem;
}

.AlertTitle {
    font-size: var(--sl-text-h5);
    margin-bottom: 0.25rem;
    font-weight: 500;
    line-height: var(--sl-line-height-headings);
    padding-left: 1.75rem;
}

.AlertDescription {
    line-height: var(--sl-line-height);
    padding-left: 1.75rem;
}
